/*
Copyright 2019 whatever127

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

body {
  font-family: "Segoe UI", "Microsoft JhengHei", "Microsoft YaHei" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 50px;
}

.content {
  padding: 30px 15px;
}

.prod-btn {
  margin-top: 18px;
}

.prod-btn-title {
  text-align: left;
  white-space: normal;
}

.prod-btn-desc {
  text-align: left;
  font-size: 65%;
  opacity: 0.75;
  white-space: normal;
}

.dropd-menu-right {
  right: 15px;
  left: auto;
}

.dropd-toggle-btn {
  padding-right: 38px;
}

.dropd-icon {
  position: absolute;
  bottom: 0px;
  right: 30px;
  height: 50%;
}

#msContent, #msContent2, #fileDownload {
    margin-top: 2rem;
}

#msContent2 .CSPvNext .span,
#msContent2 .CSPvNext .row-fluid {
  display: inline;
}

.CSPvNext h2 {
  font-size: 18px;
  margin-top: 1rem;
}

.CSPvNext {
  margin: 0;
}

.CSPvNext .row-fluid,
.CSPvNext #product-languages {
  width: 100%;
}
